.error{
    color: var(--theme-error);
}

#status-row{
    width: 90px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-filter{
    padding: 5px 10px 5px 10px;
    border: none;
}
.active{
    background-color: #DAF6E1;
    color: #00812F;

}

    .probation{
        background-color: #FFF8D7;
        color: #AA8A00;
    }

    .inactive{
        background-color: #FFE2E2;
        color: #DC3232;
    }

    .actions{
        background-color: #FFFFFF;
    }