.table-rows {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    scrollbar-width: none;
}

.error {
    color: var(--theme-error);
}

#status-row {
    width: 90px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-filter {
    padding: 5px 10px 5px 10px;
    border: none;
}
.active {
    background-color: #daf6e1;
    color: #00812f;
}

.probation {
    background-color: #fff8d7;
    color: #aa8a00;
}

.inactive {
    background-color: #ffe2e2;
    color: #dc3232;
}

.actions {
    background-color: #ffffff;
}
